.phrase-container{
    max-width: 9000px;
    min-width: 400px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
}

.phrase{
    width: 70%;
    text-align: center;
    color: rgb(109, 108, 108);
    font-size: 100%;
    
    
}